<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="icon" href="/images/clouds.png">
    <link rel="stylesheet" href="/style.css">
<html>    
</h
<link rel="stylesheet" href="/css/styles.css">
    <h1>WEATHER<img src="/images/clouds.png"></h1>
    <form><input placeholder="&nbsp;Location"><button>Search</button></form>
    <p id="result"></p>
<script src="/script.js"></script>
</html>
</html>